Test02.flow
[{"id":"d19c5276.5a205","type":"inject","z":"ea126678.d0dab8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":320,"y":140,"wires":[["462b65c9.df645c","d5da02f9.c9ed5"]]},{"id":"462b65c9.df645c","type":"debug","z":"ea126678.d0dab8","name":"","active":true,"console":"false","complete":"payload","x":570,"y":140,"wires":[]},{"id":"d5da02f9.c9ed5","type":"debug","z":"ea126678.d0dab8","name":"","active":true,"console":"false","complete":"payload","x":552.2222222222222,"y":324.44444444444446,"wires":[]}]
